.carousel-logos-container {
  margin: 0 !important;
}

.carousel-logos {
  overflow: hidden;
  background: #fff;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 24px 0;
}

.carousel-logos-wrapper {
  display: flex;
}

.carousel-logos-track {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  animation: carousel-logos-scroll 30s linear infinite;
}

.carousel-logos-track:last-child {
  margin-left: 32px;
}

.carousel-logos-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
}

.carousel-logos-item img {
  max-height: 150px;
  width: auto;
  transition: all 0.3s;
}

.carousel-logos-item:hover img {
  filter: grayscale(0%);
  opacity: 1;
}

@keyframes carousel-logos-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.carousel-logos-wrapper:hover .carousel-logos-track {
  animation-play-state: paused;
}
